* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
}

header {
    position: sticky;
    top: 0;
    height: 114px;
    width: 100vw;
    background-color: white;
    padding: 0 20px;
    border-bottom: 3px solid #FF9D00;
    z-index: 3;
}

header .row {
    position: relative;
    max-width: 1400px;
    margin: auto;
}

header .info-bar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    height: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
}

header .info-bar-right a {
    text-decoration: none;
}

header .info-bar-right .btn {
    display: block;
    padding: 8px 30px;
    text-decoration: none;
    font-size: 13px;
    color: white;
    background-color: #959595;
    border-radius: 14px;
}

header .info-bar-right .btn-login {
    background-color: #FF9D00;
}

header .info-bar-right .fa-brands {
    display: block;
    font-size: 20px;
    color: #FF9D00;
}

header .nav-expand {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-bottom: 30px;
}

header .nav-expand .logo {
    position: absolute;
    left: 1px;
    top: 50%;
    transform: translateY(-50%);
}

header .nav-expand ul {
    display: inline-block;
}

header .nav-expand-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header .nav-expand-right ul li {
    display: inline-block;
}

header .nav-expand-right ul li a {
    text-decoration: none;
    color: #4C4C4C;
    padding: 0 8px;
    font-size: 16px;
}

header .nav-expand-right .icon-area-search, .icon-area-menu {
    display: inline-block;
}

header .nav-expand-right .icon {
    display: inline-block;
    font-size: 30px;
    color: #4C4C4C;
    overflow: hidden;
}

header .main-menu-open {
    display: none;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 500px;
    background: url('../../public/images/banner/woman-banner.jpg') no-repeat center center/cover;
    color: white;
    padding: 20px;
}

.banner .text-banner {
    flex-basis: 1200px;
}

.banner .text-icon {
    position: relative;
}

.banner .text-icon h1 {
    display: inline-block;
    font-size: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.banner .text-icon i {
    position: absolute;
    top: 4px;
    left: 70px;
    display: inline-block;
    font-size: 30px;
    overflow: hidden;
}

.banner .text-banner p {
    font-size: 3em;
    max-width: 600px;
    text-shadow: 2px 5px 5px #00000042;
}

.informacoes {
    width: 100%;
    padding: 0 20px;
}

.informacoes .container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    flex-flow: row wrap;
    gap: 20px;

    max-width: 1400px;
    margin: auto;
    padding: 20px 0px;
}

.informacoes .container .content {
    flex: 1 1 200px;
    align-content: center;
    color: #4c4c4cb6;
}

.informacoes .container .card {
    flex: 1 0 170px;
    border-radius: 12px;
    border: 1px solid lightgray;
    padding: 15px;
}

.informacoes .container .card a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.informacoes .container .card a .text-card span {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}

.informacoes .container .card a .text-card p {
    font-size: 1em;
    color: #4c4c4cb6;
}

.informacoes .container .card a .img-card {
    height: 100%;
    width: 40px;
}

.informacoes .container .card a .img-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.busca, .busca-inicial {
    width: 100%;
    padding: 20px;
    background-color: #92D0D3;
}

.busca .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    gap: 60px;

    max-width: 1400px;
    margin: auto;
    padding-top: 20px;
    overflow: visible;
}

.busca .container .area-pesquisa {
    flex: 1 1 400px;
}

.busca .container .area-pesquisa h2 {
    font-size: 28px;
    color: #3D959A;
}

.busca .container .box-busca {
    flex: 1 0 700px;
}

.busca .container .box-busca form .row {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.busca .container .box-busca form .row input[type="text"] {
    height: 56px;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    padding-right: 56px;
}

.busca .container .box-busca form .row input[type="text"]:focus {
    outline: none;
    border: 2px solid #3d9efacc;
}

.busca .container .box-busca form .row input[type="text"]::placeholder, button {
    font-size: 20px;
    color: #4c4c4cb6;
    background-color: white;
}   

.busca .container .box-busca form .row button {
    position: absolute;
    right: 5px;
    height: 52px;
    width: 56px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 12px;
}

.busca .container .box-busca form .row button i {
    overflow: hidden;
    box-sizing: border-box;
}

.busca-inicial {
    position: relative;
    overflow: visible;
}

.busca-inicial .container {
    height: 400px;
    max-width: 1400px;
    margin: auto;
    z-index: 2;
}

.busca-inicial .row {
    position: absolute;
    top: -50px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    flex-flow: row nowrap;

    height: 585px;
    max-width: 1400px;
    margin-top: 50px;
    overflow: visible;
    z-index: 2;
}

.busca-inicial .row .col-1 {
    flex: 0 0 50%;
    padding-top: 80px;
}

.busca-inicial .row .col-1 h2 {
    font-size: 45px;
    font-weight: bold;
    color: white;
    margin-bottom: 50px;
}

.busca-inicial .row .col-1 p {
    font-size: 17px;
}

.busca-inicial .row .col-1 a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-top: 50px;
    padding: 10px 20px;
    border-radius: 21px;
    background-color: #FF9D00;
}

.busca-inicial .row .col-img {
    display: block;
    flex: 0 0 50%;
    align-self: flex-start;

    height: auto;
    width: 700px;
}

.busca-inicial .row .col-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.busca-inicial hr {
    width: 100%;
    height: 1px;
    background-color: white;
    border: none;
    margin-top: 20px;
}

.destaques {
    width: 100%;
    margin: 30px 0;
    padding: 20px;
}

.destaques .container {
    margin: auto;
    max-width: 1400px;
}

.destaques .container .content-destaques {
    margin-top: 30px;
}

.destaques .container .content-destaques h2 {
    font-size: 2.8em;
    font-weight: bold;
    color: #92D0D3;
    padding-bottom: 20px;
}

.destaques .container .content-destaques p {
    max-width: 660px;
    line-height: 1.5;
}

.cards-destaques {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;
    gap: 30px;
    margin-top: 50px;
}

.cards-destaques .card * {
    box-sizing: border-box;
    overflow: hidden;
}

.cards-destaques .card {
    flex: 0 0 calc(33.333% - 30px);

    height: 450px;
    border-radius: 24px;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.342);
}

.cards-destaques .card a {
    display: block;
    color: white;
    text-decoration: none;
    height: 100%;
    width: 100%;
    background: url("../../public/images/cards/woman-banner.png") no-repeat top left/cover;
}

.cards-destaques .card-2 a {
    background-image: url("../../public/images/cards/man.png")
}

.cards-destaques .card-3 a {
    background-image: url("../../public/images/cards/woman.png")
}

.cards-destaques .card-4 a {
    background-image: url("../../public/images/cards/fam.png")
}

.cards-destaques .card-5 a {
    background-image: url("../../public/images/cards/woman-call.png")
}

.cards-destaques .card-6 a {
    background-image: url("../../public/images/cards/phone.png")
}

.card .opaque {
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;

    height: 100%;
    width: 100%;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.336);
}

.card .opaque .header-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    gap: 8px;
}

.card .header-card .icon-card {
    height: 50px;
    width: 60px;
}

.card .header-card .icon-card img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.card .opaque .header-text-card h3 {
    font-weight: bold;
    color: #92D0D3;
}

.card .opaque .footer h3 {
    font-size: 1.2em;
    font-weight: bold;
}

.card .opaque .cima {
    z-index: 2;
}

.assista {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 580px;
    width: 100%;
    margin-top: 100px;
    padding-bottom: 45px;
    background: url("../../public/images/fontend/hero.png") no-repeat center center/cover;
}

.assista .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;

    flex: 1 1 100%;
}

.assista .row .img-boneco {
    flex: 0 0 32%;
}

.assista .row .text-area {
    flex: 0 1 68%;
    align-self: flex-end;
    color: white;
}

.assista .row .text-area hr {
    width: 100%;
    height: 3px;
    background-color: white;
    border: none;
    background-color: #FF9D00;
    margin: 20px 0;
}

.assista .row .text-area .info {
    max-width: 660px;
}

.assista .row .text-area .info h2 {
    font-size: 2.6em;
    font-weight: bold;
    padding-bottom: 20px;
}

.assista .row .text-area .info p {
    padding-bottom: 20px;
}

.assista .row .text-area a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    text-decoration: none;
}

.assista .row .text-area a i {
    font-size: 60px;
    margin-right: 10px;
    overflow: hidden;
}

.assista .row .text-area a h4 {
    display: inline-block;
    font-size: 1.1em;
}

.videos {
    width: 100%;
    padding: 50px 20px;
    background-color: black;
}

.videos a {
    text-decoration: none;
    color: white;
}

.videos .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row nowrap;
    gap: 10px;

    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
}

.videos .container .col-main {
    flex: 0 0 50%;
}

.videos .container .col-main a img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.videos .container .col-main .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;

    font-size: 1.3em;
    padding: 15px;
    color: white;
}

.videos .container .col-main .info span {
    font-size: 1.5em;
    font-weight: bold;
    color: #8159D9;
}

.videos .container .lista-videos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    row-gap: 20px;

    flex: 0 0 50%;
}

.videos .container .lista-videos > a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.videos .container .lista-videos > a img {
    display: inline-block;
    width: 180px;
    object-fit: cover;
}

.videos .container .lista-videos > a .media-body {
    align-self: flex-start;
    padding-left: 20px;
    padding-top: 10px;
}

.videos .container .lista-videos > a .media-body h5 {
    font-size: 1em;
    max-width: 350px;
}

.videos .container .lista-videos > a .media-body i {
    font-size: 20px;
    padding-top: 8px;
    overflow: hidden;
}

.videos .container .lista-videos > a .media-body i::after {
    content: " 0'54";
    color: #8159D9;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.destaques-fim {
    width: 100%;
}

.destaques-fim .container {
    width: 100%;
}

.destaques-fim .container .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    max-width: 1400px;
    padding: 30px;
    margin: 50px auto 10px auto;
}

.destaques-fim .container .section-header h2 {
    font-size: 3em;
    color: #FF9D00;
}

.destaques-fim .container .section-header .line {
    flex: 1 1 80%;
    align-self: flex-end;
    height: 1px;
    background-color: black;
}

.destaques-fim .box-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;

    position: relative;

    height: 512px;
}

.box-services .opaque {
    position: absolute;
    top: 0;
    left: 0;

    height: 512px;
    width: 100%;
    background-color: #366afa59;
    z-index: 2;
}

.destaques-fim .box-services .col-1, .col-2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    flex: 0 0 50%;
    height: 100%;
    padding-bottom: 30px;
}

.destaques-fim .box-services .col-1 {
    background: url("../../public/images/fontend/woman.png") no-repeat center center/cover;
}

.destaques-fim .box-services .col-2 {
    background: url("../../public/images/fontend/man.png") no-repeat center center/cover;
}

.destaques-fim .box-services .info {
    flex-basis: 630px;

    color: white;
    padding-right: 20px;
    z-index: 2;
}

.destaques-fim .box-services .info h3 {
    font-size: 2.6em;
    font-weight: 900;
    line-height: 1;
    padding-bottom: 40px;
}

.destaques-fim .box-services .info a {
    display: inline-block;
    font-size: 1.4em;
    text-decoration: none;
    color: black;
    background-color: #FF9D00;
    padding: 10px 25px;
    border-radius: 12px;
}

.destaques-fim .box-services .info a:hover {
    text-decoration: underline;
}

.increver {
    width: 100%;
    padding: 20px;
}

.inscrever .container {
    max-width: 1400px;
    margin: 0 auto;
}

.inscrever .container .form-area {
    max-width: 700px;
    margin: 0 auto;
}

.inscrever .container .form-area form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

    margin: 70px 0;
}

.inscrever .container .form-area .box-title h3 {
    font-size: 2em;
    color: #FF9D00;
}

.inscrever .container .form-area .input-group {
    position: relative;
    width: 100%;
}

.inscrever .container .form-area .input-group label {
    display: none;
}

.inscrever .container .form-area .input-group input[type="email"] {
    height: 50px;
    width: 100%;
    font-size: 16px;
    margin: 30px 0;
    padding: 0 10px;
    background-color: transparent;
    border: 1px solid #FF9D00;
    border-radius: 12px;
}

.inscrever .container .form-area .input-group input[type="email"]:focus {
    outline: none;
    box-shadow: 0 0 10px 8px #ff9d0052;
}

.inscrever .container .form-area .input-group button[type="submit"] {
    position: absolute;
    top: 30px;
    right: 0px;
    height: 50px;
    font-size: 16px;
    color: white;
    background-color: #FF9D00;
    padding: 0 24px;
    border: none;
    border-radius: 0 12px 12px 0;
}

.inscrever .container .form-area .box-social-media h4 {
    font-size: 18px;
}

.inscrever .container .form-area .box-social-media .medias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 100%;
    margin-top: 20px;
    font-size: 40px;
}

.inscrever .container .form-area .box-social-media .medias i {
    overflow: hidden;
    color: #FF9D00;
}

.inscrever .container .form-area .box-social-media .medias a:hover i {
    color: #4C4C4C;
}

footer {
    color: #fff;
    background-color: #000;
    padding: 20px;
}

footer .container {
    max-width: 1400px;
    margin: 0 auto;
}

footer .container .img-container {
    display: block;
    height: 25px;
    width: 166px;
    margin: 30px 0 70px 0;
    background: url("../../public/images/logo-footer.png") no-repeat center center/cover;
}

footer .container .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;

    width: 100%;
}

footer .container .destaques-footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;

    flex: 0 0 70%;
}

footer .container .destaques-footer .link-footer {
    display: inline-block;
    padding: 10px;
}

footer .container .destaques-footer .link-footer h4 {
    font-size: 18px;
}

footer .container .destaques-footer .link-footer li {
    font-size: 14px;
}

footer .container .destaques-footer .link-footer h4, li {
    padding-bottom: 15px;
}

footer .container .social-media-footer {
    flex: 0 0 30%;
    align-self: flex-start;

    font-size: 35px;
    text-align: right;
}

footer .container .social-media-footer a {
    text-decoration: none;
}

footer .container .social-media-footer a i {
    color: white;
    margin-left: 10px;
}
